@model TccVitoti.Models.LoginViewModel

<div class="main-login col-sm-4 col-sm-offset-4 login example2" style="margin-top:8em;">
    <div class="box-login">
        <h3>Acesse sua conta</h3>
        <p>Entre com o seu email e senha para logar.</p>
        <form asp-controller="Home" asp-action="Login" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group" pf-validationerror-class="has-error">
                <span class="input-icon">
                    <input asp-for="Usuario" class="form-control" placeholder="Login" />
                    <i class="fa fa-user"></i>
                </span>
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group form-actions">
                <span class="input-icon">
                    <input asp-for="Senha" class="form-control password" placeholder="Senha" type="password" />
                    <i class="fa fa-lock"></i>
                </span>
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary pull-right">Login <i class="fa fa-arrow-circle-right"></i></button>
            </div>
        </form> 
    </div>
</div>


<style media="screen" type="text/css">
    html, body {
        background-image: url("../images/fundo.jpg");
        background-color: rgba(255, 255, 255, 0);
    }
</style>

